body{
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
    height: 100vh;
}

.columns {
    /* background: aliceblue; */
    padding: 5px;
}

.columnsRight {
   
    display: grid;
    grid-template-rows: 1fr auto auto;
}